.body{
  margin: 0;
  padding: 0 1rem;
  background-color: #545454;
  min-height: 100vh;
}

.navBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(70, 70, 70, 0.11);
}
.btn-curl{
  width: auto;
  border-radius: 10px !important;
  padding: .2rem 1rem !important;
  
}

.navButton{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.search-input {
  width: 30vw !important;
  padding: 2px 0.5rem !important;
  border: none;
  background: transparent !important;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  color: white;
  border: 1px solid white;
}

.search-input:hover{
  background: transparent !important;
  border: 1px solid rgb(0, 238, 255) !important;
  outline: none !important;
}
.search-input:focus{
  background: transparent !important;
  border: 1px solid rgb(0, 238, 255) !important;
  outline: none !important;
}

.btn-search {
  background-color: transparent !important;
  color: rgb(255, 255, 255);
  padding: 2px 0.5rem !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border: 1px solid white;
}
.btn-search:hover{
  border: 1px solid rgb(0, 238, 255) !important;
  color: rgb(0, 238, 255);
}
.btn-search:active{
  background-color: rgb(0, 238, 255) !important;
  color: white;
}

.search-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-card{
  margin-left: 1%;
  margin-right: 1%;
  width: 98% !important;
  height: 65vh !important;
}
.card-all-bio{
  border: none !important;
  height: 35vh !important;
}
.card-all-bio-body{
  border: none !important;
  height: 30vh !important;
}
.img-all-bio{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.card-all-bio-footer{
  background-color: #ccc !important;
  border: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height:5vh !important;
}
.h-65{
  height: 65vh !important;
}
.see-more{
  text-decoration: none;
  color: white;
}
.see-more:hover{
  text-decoration:2px solid #ccc underline;
  color: #ccc;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  border: 2px solid #3498db;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

textarea.form-control {
  resize: vertical; /* Allow vertical resizing for textareas */
}

/* Style the Submit button */
.btn-primary {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
}

.btn-primary:hover {
  background-color: #217dbb;
}

.form-control:hover{
  border: 2px solid rgb(0, 225, 255) !important;
}
.form-control:focus{
  border: 2px solid rgb(0, 225, 255) !important;
}
.form-control{
  border: 2px solid #ccc !important;
  background-color: rgb(114, 114, 114) !important;
  color: white !important;
}
label{
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 5px #000000;
}
.btn-add{
  border: none;
  background: rgb(0, 225, 255) !important;
  color: white !important;
  text-shadow: 2px 2px 5px #000000;
}
.btn-add:hover{
  background: rgb(12, 210, 236) !important;
  color: whitesmoke !important;
}
.detail{
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid rgb(34, 34, 34);
  background-color: #ccc;
}
.detail-head{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.detail-img{
  border-radius: 5px;
  border:2px solid #545454;
  box-shadow: 2px 2px 5px #000000;
  height: 30vh;
  max-width: 30vw;
}
.detail-p{
  font-family: sans-serif;
}
.text-none{
  text-decoration: none !important;
  list-style: none !important;
}

.update-input{
  padding : .5rem 1rem;
  background-color: transparent !important;
  border: 1px solid #444444;
  border-radius: 20px;
}
.p-area{
  background-color: transparent !important;
  width: 100%;
  height: 35vh;
}